/.venv
__pycache__/__init__.cpython-311.pyc
__pycache__/main.cpython-36.pyc
__pycache__/main.cpython-311.pyc
endpoints/__pycache__/assignments.cpython-36.pyc
endpoints/__pycache__/assignments.cpython-311.pyc
/.vscode